body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  color: $textColor;
  letter-spacing: 1.1px;

}
img {
  max-width: 100%;
  height: auto;
  
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

