.chart {
  
  #svg {
    width: 100%;
    height: 300px;
    
    @mixin atSmall {
      height: 400px;
    }
    
  }
  
  &__area {
    fill: rgba($acsentColor, .1);
    stroke-width: 2px;
    stroke-linecap: round;
  }
  
  &__line {
    fill: none;
    stroke-width: 2px;
    stroke: $acsentColor;
    stroke-linecap: round;
  }
  
  .circle--not {
    opacity: 0;
    transition: all .2s ease-out;
    
  }
  
  .chart__circle--is--visible {
    opacity: 1!important;
  }
  
  &__circle{
    fill: white;
    stroke-width: 2px;
    stroke: $acsentColor;
    
    
    &__inner {
      fill: $acsentColor;
    }
  }
  
  .domain, .tick line{
    stroke: $textColor;

  }
  text {
    fill: $textColor;
  }
}